<!DOCTYPE html>
<html lang="en">
<head>
<title>Contacts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--[if lt IE 9]>
<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page5">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">Sciencelab</a></h1>
					<form id="search" method="post">
						<div>
							<input type="submit" class="submit" value="">
							<input type="text" class="input">
						</div>
					</form>
				</div>
				<div class="wrapper">
					<nav>
						<ul id="menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="Services.html">Services</a></li>
							<li><a href="Researches.html">Researches</a></li>
							<li><a href="Press.html">Press</a></li>
							<li><a href="Contacts.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
				<div class="wrapper">
					<div class="col">
						<h2>Lab Technology <span>Professional Research</span></h2>
						<p><strong>Sed ut perspiciatis unde omnis</strong> iste naterror voluptatem accusantium doareue laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore:</p>
						<a href="#" class="button"><span>Read More</span></a>
					</div>
				</div>
			</header><div class="ic">More Website Templates at TemplateMonster.com!</div>
<!-- / header -->
<!-- content -->
			<section id="content">
				<article class="col1">
					<h3>Our Contacts</h3>
					<div class="wrapper pad_bot1">
						<div class="cols pad_bot1">
							<strong>
								Country:<br>
								City:<br>
								Telephone:<br>
								Email:
							</strong>
						</div>
						USA<br>
						San Diego<br>
						+354 5635600<br>
						<a href="mailto:">smartbiz@mail.com</a>
					</div>
					<h3>Miscellaneous Info</h3>
					<p>
Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br>cum soluta nobis est eligendi optio<br>cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus emporibus autem quibusdam<br>
et aut officiis debitis aut.
					</p>
				</article>
				<article class="col2">
					<h3>Contact Form</h3>
					<form id="ContactForm">
						<div>
							<div class="wrapper">
								<span>Name:</span><input type="text" class="input" >
							</div>
							<div class="wrapper">
								<span>Email:</span><input type="text" class="input" >
							</div>
							<div class="textarea_box">
								<span>Message:</span><textarea name="textarea" cols="1" rows="1"></textarea>
							</div>
							<a href="#" class="button" onClick="document.getElementById('ContactForm').submit()">Send</a>
							<a href="#" class="button" onClick="document.getElementById('ContactForm').reset()">Clear</a>
						</div>
					</form>
				</article>
			</section>
		</div>
	</div>
</div>
<div class="body3">
	<div class="main">
		<section id="content2">
			<article class="col3">
				<h4><span><span class="right"></span>Lab Equipment</span></h4>
				<div class="wrapper">
					<div class="pad">
						<p class="pad_bot3">
							<strong>Vero eoset accusamus eot iusto odio dignissimos</strong>
						</p>
						<p class="pad_bot3">
Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores erum facilis est et expedita distinc et quas molestias excepturi occaecati cupiditate corrupti quos.
						</p>
						<p>
Non provident, similique sunt infgo culpa qui officia deserunt mollitia animid laborum et dolorum fuga. Et harum quidem.
						</p>
					</div>
				</div>
			</article>
			<article class="col4">
				<h4><span><span class="right"></span>Our Researches</span></h4>
				<div class="wrapper">
					<div class="pad">
						<ul class="list2">
							<li><a href="#">Blanditiis praesentium</a></li>
							<li><a href="#">Voluptatum deleniti atqoue</a></li>
							<li><a href="#">Corrupti qufgos dolores et quas</a></li>
							<li><a href="#">Molestias excepturi sint</a></li>
							<li><a href="#">Occaecati cupiditate</a></li>
							<li><a href="#">Non provident, similique suont</a></li>
							<li><a href="#">Culpa qui officia deserunt</a></li>
							<li><a href="#">Mollitia animid laborum</a></li>
						</ul>
					</div>
				</div>
			</article>
			<article class="col4">
				<h4><span><span class="right"></span>Integrated Science</span></h4>
				<div class="wrapper">
					<div class="pad">
						<p class="pad_bot3">
Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
						</p>
						<p class="pad_bot3">
Non provident, similique sunt in culpa qui officia deserunt mollitia animid laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
						</p>
						<p>
							<a href="#">Nam libero tempore, cumoluta nobis est eligendi optio cumque</a>
						</p>
					</div>
				</div>
			</article>
		</section>
<!-- / content -->
<!-- footer -->
		<footer>
			<nav>
				<ul id="footer_menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="Services.html">Services</a></li>
					<li><a href="Researches.html">Researches</a></li>
					<li><a href="Press.html">Press</a></li>
					<li><a href="Contacts.html">Contacts</a></li>
				</ul>
			</nav>
			<div class="pad">
				<a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com<br>
				<a href="http://www.templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com
			</div>
		</footer>
<!-- / footer -->
	</div>
</div>
</body>
</html>